#plan
    .nav
        .arr-left <
        .date
        .arr-right >
    .day
        input(type='text', placeholder='0', data-id='0')
        input(type='text', placeholder='1', data-id='1')
        input(type='text', placeholder='2', data-id='2')
        input(type='text', placeholder='3', data-id='3')
        input(type='text', placeholder='4', data-id='4')
        input(type='text', placeholder='5', data-id='5')
        input(type='text', placeholder='6', data-id='6')
        input(type='text', placeholder='7', data-id='7')
        input(type='text', placeholder='8', data-id='8')
        input(type='text', placeholder='9', data-id='9')
        input(type='text', placeholder='10', data-id='10')
        input(type='text', placeholder='11', data-id='11')
        input(type='text', placeholder='12', data-id='12')
        input(type='text', placeholder='13', data-id='13')
        input(type='text', placeholder='14', data-id='14')
        input(type='text', placeholder='15', data-id='15')
        input(type='text', placeholder='16', data-id='16')
        input(type='text', placeholder='17', data-id='17')
        input(type='text', placeholder='18', data-id='18')
        input(type='text', placeholder='19', data-id='19')
        input(type='text', placeholder='20', data-id='20')
        input(type='text', placeholder='21', data-id='21')
        input(type='text', placeholder='22', data-id='22')
        input(type='text', placeholder='23', data-id='23')