#settings
    //#settings-general-block
    //    h2 General
    //    h3 Choose your language
    //        select#settings-general-block-select
    //            option(value='ru') Русский
    //            option(value='en') English






    //#settings-timer-block
        //h2 Timer
        //h3 Sound of seconds
        //    input(type='checkbox')#settings-timer-block-sound-seconds
        //    label(for='settings-timer-block-sound-seconds')
        //h3 Sound of the end work
        //    input(type='checkbox')#settings-timer-block-sound-end-work
            //label(for='settings-timer-block-sound-end-work')
        //h3 Sound of the end rest
        //    input(type='checkbox')#settings-timer-block-sound-end-rest
        //    label(for='settings-timer-block-sound-end-rest')
        //h3 Work time
            input(type='number',min="0",max="360")#settings-timer-block-work-time


        h3 Rest time
            input(type='number',min="0",max="60")#settings-timer-block-rest-time

        ////ok
    //#settings-plan-block
    //    h2 Plan
    //    h3 Start of the day
    //        input(type='number',min="0",max="22")#settings-plan-block-start-day
    //    h3 End of the day
    //        input(type='number',min="0",max="22")#settings-plan-block-end-day

