#task.select
    form#add-task-form
        //input#add-task-form-input(type='text', placeholder='enter the name of the new task')
        //input(type='submit', value='Add')
    #tags
        ul
    ul#task-list