#timer
    #round-containers
        #work
            .run-container
                .run
            .right-container
                .right
            .left-container
                .left
            .center
                .time 123
        #rest
            .run-container
                .run
            .right-container
                .right
            .left-container
                .left
            .center
                .time 123
    #timer-controls
        //button#timer-control-start Start
        //button#timer-control-stop Stop