html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    body
        nav
            ul#menu

        #pages
            include pages/task
            include pages/timer
            include pages/plan
            include pages/settings

        footer
            #app-version 0
            #dev-name Stekolschikov
            #dev-year 2017

        link(href='lib/animate.css', rel='stylesheet')
        link(href='style.css', rel='stylesheet')
        script(src='script.js')

